* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .addData {
    position: absolute;
    top: 50px;
    font-size: 150px;
    right: 18px;
    color: slateblue;
    background-color: brown;
    height:80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .spinner-border {
    /* font-size: 100px; */
    --bs-spinner-width: 4rem!important;
    --bs-spinner-height: 4rem!important;
    --bs-spinner-vertical-align: -0.125em;
    --bs-spinner-border-width: 0.50em!important;
  }
  
  .loader {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


.loginform{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.formcontainer{
    margin-top: 50px;
    padding: 50px;
    width: 500px;
   border-radius: 70px 20px;
   background-color: burlywood;
}

.formcontainer h1{
    text-align: center;
}

